[run]
branch = True
source =
    taller
    gestion_taller
omit =
    */migrations/*
    */management/commands/*
    */tests/*
    */settings/*
    */wsgi.py
    */asgi.py
    manage.py
    *_backup.py
    */scripts/*
    */probar_*.py
    */validar_*.py
    */reporte_*.py
    */paso*.py
    # Additional patterns for better coverage hygiene
    */urls_extra/*
    */urls_modules/*
    */urls_new.py
    */min_urls.py
    */context_processors.py
    */middleware.py
    */middlewares.py
    */signals.py
    */tasks.py
    */forms_signup.py
    */forms_subscription.py
    */forms_trial.py
    */main_views.py
    */main_views_mkt.py
    */taller_main_urls.py
    */taller_views.py
    */taller_views_patch.py
    */tests_repuesto.py
    */urls_autocomplete.py
    */urls_dashboard.py
    */views_extra/*
    */views/*
    */ia_urls.py
    */ia_views.py
    */business_intelligence_urls.py
    */configuracion_urls.py
    */ajax_urls.py
    */api_urls.py
    */autocomplete_urls.py
    */clientes_urls.py
    */documentos_urls.py
    */emails_urls.py
    */repuestos_urls.py
    */servicios_urls.py
    */vehiculos_urls.py
    */vehiculos_urls_chile.py
    */vehiculos_urls_usa.py
    */urls_chile.py
    */urls_usa.py
    */analytics_urls.py
    */analytics_urls_suscriptor.py
    */reportes_urls.py
    */taller_urls.py
    */taller_urls_extra/*
    */taller_urls_modules/*
    */taller_views_extra/*
    */taller_views/*
    */taller_analytics/*
    */taller_api/*
    */taller_autocomplete/*
    */taller_clientes/*
    */taller_documentos/*
    */taller_emails/*
    */taller_repuestos/*
    */taller_servicios/*
    */taller_vehiculos/*
    */taller_models/*
    */taller_forms/*
    */taller_templatetags/*
    */taller_utils/*
    */taller_middleware/*
    */taller_context_processors/*
    */taller_signals/*
    */taller_tasks/*
    */taller_management/*
    */taller_migrations/*
    */taller_tests/*
    */taller_fixtures/*
    */taller_media/*
    */taller_static/*
    */taller_templates/*
    */taller_locale/*
    */taller_translations/*
    */taller_docs/*
    */taller_examples/*
    */taller_samples/*
    */taller_demos/*
    */taller_benchmarks/*
    */taller_performance/*
    */taller_load_tests/*
    */taller_stress_tests/*
    */taller_integration_tests/*
    */taller_e2e_tests/*
    */taller_ui_tests/*
    */taller_selenium_tests/*
    */taller_cypress_tests/*
    */taller_playwright_tests/*
    */taller_puppeteer_tests/*
    */taller_webdriver_tests/*
    */taller_automation_tests/*
    */taller_qa_tests/*
    */taller_acceptance_tests/*
    */taller_smoke_tests/*
    */taller_sanity_tests/*
    */taller_regression_tests/*
    */taller_compatibility_tests/*
    */taller_accessibility_tests/*
    */taller_security_tests/*
    */taller_penetration_tests/*
    */taller_vulnerability_tests/*
    */taller_performance_tests/*
    */taller_load_tests/*
    */taller_stress_tests/*
    */taller_volume_tests/*
    */taller_capacity_tests/*
    */taller_scalability_tests/*
    */taller_reliability_tests/*
    */taller_availability_tests/*
    */taller_maintainability_tests/*
    */taller_portability_tests/*
    */taller_usability_tests/*
    */taller_user_experience_tests/*
    */taller_user_interface_tests/*
    */taller_user_acceptance_tests/*
    */taller_business_logic_tests/*
    */taller_domain_tests/*
    */taller_service_tests/*
    */taller_api_tests/*
    */taller_rest_tests/*
    */taller_graphql_tests/*
    */taller_websocket_tests/*
    */taller_socketio_tests/*
    */taller_grpc_tests/*
    */taller_microservice_tests/*
    */taller_distributed_tests/*
    */taller_cloud_tests/*
    */taller_container_tests/*
    */taller_kubernetes_tests/*
    */taller_docker_tests/*
    */taller_serverless_tests/*
    */taller_lambda_tests/*
    */taller_function_tests/*
    */taller_edge_tests/*
    */taller_cdn_tests/*
    */taller_cache_tests/*
    */taller_database_tests/*
    */taller_sql_tests/*
    */taller_nosql_tests/*
    */taller_redis_tests/*
    */taller_mongodb_tests/*
    */taller_elasticsearch_tests/*
    */taller_solr_tests/*
    */taller_lucene_tests/*
    */taller_sphinx_tests/*
    */taller_xapian_tests/*
    */taller_whoosh_tests/*
    */taller_haystack_tests/*
    */taller_wagtail_tests/*
    */taller_mezzanine_tests/*
    */taller_pinax_tests/*
    */taller_django_tests/*
    */taller_flask_tests/*
    */taller_fastapi_tests/*
    */taller_starlette_tests/*
    */taller_uvicorn_tests/*
    */taller_gunicorn_tests/*
    */taller_waitress_tests/*
    */taller_cherrypy_tests/*
    */taller_tornado_tests/*
    */taller_twisted_tests/*
    */taller_asyncio_tests/*
    */taller_aiohttp_tests/*
    */taller_sanic_tests/*
    */taller_quart_tests/*
    */taller_falcon_tests/*
    */taller_bottle_tests/*
    */taller_pyramid_tests/*
    */taller_web2py_tests/*
    */taller_turbogears_tests/*
    */taller_grok_tests/*
    */taller_zope_tests/*
    */taller_plone_tests/*
