# Python / Django
__pycache__/
*.pyc
.venv/
venv/
.env
media/
static_root/
db.sqlite3

# Editores
*.code-workspace
.idea/
.vscode/

# Otros
*.zip
# Build artifacts / generados
staticfiles/
media/
__pycache__/
.env
.venv/
# Build artifacts / generados
staticfiles/
media/
__pycache__/
.env
.venv/
